* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
}
